{erl_opts, [
            %%warnings_as_errors,
            no_debug_info,
            {d, 'DEBUG'},                                                       
            {src_dirs, ["src"]}
]}.

{deps_dir, "deps"}.
{sub_dirs, ["rel"]}.

{deps,[]}.

{pre_hooks, [{compile, "./build.sh"}]}.

%%{cover_enabled,true}.
%%{cover_print_enabled,true}.
{cover_exclude,[]}.
{xref_checks,[undefined_function_calls]}.
{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
